* { 
    margin: 0;
    padding: 0; 
}

.container {
    height: 100vh;
    margin-left: 20%;
    width: 60%;
    display: grid;
    grid-template: 125px 40px 1fr 60px/ 300px 1fr;
    grid-template-areas: "header header"
                        "navigation navigation"
                        "aside content"
                        "footer footer";
}

.header {
    margin-top: 10px;
    grid-area: header;
    background-color: #ccc;
    border: 1px solid #000;
    border-bottom: none; 
}

.navigation{
    grid-area: navigation;
    background-color: #383838;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin-bottom: 10px;
}

.aside {
    grid-area: aside;
    background-color: #ccc;
}

.content {
    grid-area: content;
    margin-top: 10px;
    margin-left: 10px;
    text-align: justify;
    overflow-y: auto;
    min-width: 15px;
}

.footer {
    grid-area: footer;
    background: #383838;
    margin-bottom: 10px;
}


.square {
    height: 80px;
    width: 80px;
    margin: 10px;
    background-color: #fff;
    float: left;          
}

.name {
    margin-top: 10px;
}

.nav {
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
    color: #fff; 
}

.nav:hover {
    color: #000;
    background-color: #fff;      
}

.menu {
    margin: 10px;
}

.menuItem {
    text-decoration: none;
    color: #fff;
    background-color: #383838;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10.5px;
}

.menuItem:hover{
    text-decoration: underline;
    color: #000;
    background-color: #fff;     
}

/* Текст */
h2, a, p, ul, li {
    font-family: Calibri, sans-serif; 
}

.nameItem-1 {
    font-weight: bold;
    font-size: 20px;
}

.nameItem-2 {
    font-size: 14px;
}

ul {
    font-weight: bold;
    font-size: 19px;
    margin-top: 0.5em;
    margin-bottom: 0.85em;
}

li {
    margin-left: 20px; 
}